{% extends 'courses/base.html' %}

{% block title %}전체 강의 목록{% endblock %}

{% block content %}
    <div class="card">
        <div class="card-header">
            <h1>전체 강의 목록</h1>
        </div>
        <ul class="list-group list-group-flush">
            {% for course in courses %}
                <li class="list-group-item">
                    {% if course.image %}
                        <img src="{{ course.image.url }}" alt="{{ course.title }}" style="max-width: 200px; height: auto; margin-bottom: 10px;">
                    {% endif %}
                    <h4><a href="{% url 'course_detail' course.id %}">{{ course.title }}</a></h4>
                    <p>{{ course.description }}</p>
                    <p class="fw-bold text-primary">가격: {{ course.price }}원</p>
                </li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}